
.clearfix {
  clear: both;
  font-size: 1px;
}

.hidden{
  visibility: hidden;
}

body{
  background-color: rgba(0,0,0,.01);
}
.app_wrapper{
  width: 100vw;
  height: auto;
  text-align: center;

}

#ajax_wrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  z-index: 200;
}

#ajax_content{
  text-align: center;
  margin: auto;
  padding: 1rem;
  z-index: 300;
  width: 40vw;
  background-color: white;

}

#cohort_nav{

}

.create_cohort_link{

  margin-left: 1rem;
}

#cohort_title{
  text-align: center;
  margin: auto;
}



.student_card{
  margin: .8rem;
  max-width: 300px;
}

.student_card_content{
  position: relative;
  padding: .5rem;
  overflow: hidden;
  max-width: 100%;
  background-color: rgba(0,0,0,.08);
  border-radius: 5px;
  text-align: center;

}

.remove_student_button{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: .5rem;
  margin: none;
  z-index: 24;
  background-color: white;
  
 }


.avatar_wrapper{
  margin: auto;
  text-align: center;
}


.student_avatar{

  height: 80px;
  width: auto;
 
}

.gh_activity_wrapper{

  margin: 1rem;
  background: white;
  position: relative;
  overflow: hidden;

 
}

.gh_activity_chart{
  height: 100px;
  float: right;

}

.gh_activity_wrapper p{
  font-size: 1.2rem;
  margin: .2rem;
}

.repos_wrapper{
  max-height: 100px;
  overflow: scroll;
}

.repos_wrapper p{
  font-size: 1.2rem;
  margin: .2rem;
}

#edit_cohort{
  width: auto;
  margin: auto;
}

.edit_cohort_label{
  text-align: center;
  display: block;
}

.cohort_input{
  text-align: center;
  display: block;
  margin: auto;
}

#usernames_select_wrapper{
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;

}

#username_select{
  height: auto;
  max-width: 200px;
}


#edit_cohort_submit{
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  
}
